@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

/* Main Layout */
body {
  font-family: 'News Cycle', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.background-image {
  background: url('takemeanywhere-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-image-contain {
  background: url('takemeanywhere-blur-gradient.jpg') no-repeat;
  background-size: contain;
  background-color: #ecf0f1;
}

.background-image-repeat {
  background: url('takemeanywhere-blur-repeat.jpg') repeat-y;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gradient {
  background: #3a7bd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3a7bd5 , #3a6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3a7bd5 , #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flat {
  background-color: #ecf0f1;
}

.background-result {
  background: url('takemeanywhere-high.jpg');
  background-color: #fff;
}

.background {
  opacity:0.8;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}

#main {
/*  background: rgba(255, 255, 255, 0.9);
  margin-top: 50px;*/
  border-radius: 10px;
  padding: 50px;
}


/* Logo */

.logo {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 150px;
  margin-top: 25%;
  margin-bottom: 0px;
}

.logo-b {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 150px;
  margin-top: 10%;
  margin-bottom: 0px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

.feature h2 {
  color: #fff;
}


/* Select Menu */
.Select-control {
  background-color: transparent;
  border-color: #fff;
  border-radius: 4px;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Select-placeholder, .Select--single > .Select-control .Select-value {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
}

.is-searchable.is-open > .Select-control {
  color: #fff;
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: transparent;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #c0392b;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}

.Select-arrow {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}

.Select-clear {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}

/* Search/Constraints Form */

#search {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 50px;
  padding: 60px;
}

/* Travel Panel */

.result {
/*  background-color: #fff; */
 margin-bottom: 20px;
}

/* Travel Panel Left */

.result-panel-left {
  font-family: 'News Cycle', sans-serif;
  background: rgba(200, 128, 185, 0.2);
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
  min-height: 400px;
  border-bottom: 15px solid rgba(255, 255, 255, 0.5);
  border-top: 20px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.result-panel-left-airline {
  padding: 10px;
}

.airport-code {
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 3px;
}

/* Featured City */

.featured {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 50px;
  max-height: 650px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;

}

.feature-right-panel{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0px 10px 10px 0px;
  padding: 40px;
}

.featured .headline {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.description {
  margin-top: 10px;
  font-size: 13px;
}

.price h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.purchase {
  margin-top: 20px;
}

.top10 {
  background: #fff;
}

.city-guide {
  background: #fff;
}

/* Typography */

.bolder {
  font-size: 50px;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.airports {
  margin-top: 20px;
  font-size: 16px;
}

.airports a {
  color: #fff;
  text-decoration: none;
}

.top {
  margin-top: 30px;
}

.padding {
  padding: 40px;
}

.rotate-45 {
  transform: rotate(45deg);
}

/* Hotel Panels */

.hotel-panel {
  min-height: 650px;
}

.hotel-panel h2 {
  font-size: 25px;
}

.hotel-panel img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

/* Buttons */

.btn-primary {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin-left: 10px;
}

 .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
 }

/* Navbar */

.navbar-fixed-top {
  background: rgba(200, 128, 185, 0.1);
  border: 1px solid #fff;
}

.navbar-default {
  border: none;
}

.navbar a {
  color: #fff;
  font-weight: bolder;
  margin-left: 30px;
  text-decoration: none;
}

/* Constaints Page */

.search-box {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
}

.search-box .form-control {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.search-box .btn-primary {
  font-size: 16px;
  width: 100%;
  margin-top: 50px;
}

.search-box input {
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 5px;
  min-height: 35px;
  padding: 10px;
  font-size: 16px;
}

.search-box .col-md-3 {
  padding: 0px;
}

::-webkit-input-placeholder { color: #fff; }
::-moz-placeholder { color: #fff; }
:-ms-input-placeholder { color: #fff; }
:-o-input-placeholder { color: #fff; }

input[type="range" i] {
    -webkit-appearance: slider-horizontal;
    color: rgba(255, 255, 255, 0.2);
    padding: initial;
    border: initial;
    margin: 2px;
}